// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	padding-top: 40px;
}

.vue-container {
	opacity: 0;
}
.vue-fade-in {
	opacity: 1;
	transition: 1s;
}